<mat-toolbar class="justify-content-between">
  <mat-toolbar-row>
    <div class="d-flex">
      <button mat-icon-button class="d-lg-none" (click)="sidenav.toggle()" >
        <mat-icon>menu</mat-icon>
      </button>
      <div class="logo">
        <h1>
          <a routerLink="/home"><span>A</span>LEXANDER</a>
        </h1>
      </div>
    </div>
    <span class="nav-spacer"></span>
    <nav class="d-none d-lg-flex">
      <a data-hover="Home" routerLink="/home">Home</a>
      <a data-hover="About" routerLink="/about">About</a>
      <a data-hover="Experience" routerLink="/experience">Experience</a>
      <a data-hover="Portfolio" routerLink="/portfolio">Portfolio</a>
      <a data-hover="Contact" routerLink="/contacts">Contact</a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
      <a data-hover="Home" routerLink="/home" mat-list-item>Home</a>
      <a data-hover="About" routerLink="/about" mat-list-item>About</a>
      <a data-hover="Experience" routerLink="/experience" mat-list-item>Experience</a>
      <a data-hover="Portfolio" routerLink="/portfolio" mat-list-item>Portfolio</a>
      <a data-hover="Contact" routerLink="/contacts" mat-list-item>Contact</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>

