/*-- logo --*/
.logo h1 {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  color:#fff;
}
.logo h1 a{
  text-decoration:none;
  color:#fff;
}
.logo span {
  border: 7px solid #00a78e;
  padding: 0px 14px;
  font-size: 1.2em;
  color: #fff;
}
