<div class="d-flex flex-column wrapper" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button class="d-md-none" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Alexander</h1>
    <span class="spacer"></span>
    <div>
      <a mat-button [routerLink]="navigation[0].link"> {{navigation[0].label }} </a>
      <a mat-button [routerLink]="navigation[1].link"> {{navigation[1].label }} </a>
      <a mat-button [routerLink]="navigation[2].link"> {{navigation[2].label }} </a>
      <a mat-button [routerLink]="navigation[3].link"> {{navigation[3].label }} </a>
      <a mat-button [routerLink]="navigation[4].link"> {{navigation[4].label }} </a>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #sidenav mode="push"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item [routerLink]="navigation[0].link" (click)="sidenav.close()">{{navigation[0].label }}</a>
        <a mat-list-item [routerLink]="navigation[1].link" (click)="sidenav.close()">{{navigation[1].label }}</a>
        <a mat-list-item [routerLink]="navigation[2].link" (click)="sidenav.close()">{{navigation[2].label }}</a>
        <a mat-list-item [routerLink]="navigation[3].link" (click)="sidenav.close()">{{navigation[3].label }}</a>
        <a mat-list-item [routerLink]="navigation[4].link" (click)="sidenav.close()">{{navigation[4].label }}</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
        <router-outlet #o="outlet"></router-outlet>
      </div>

      <div class="footer">
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

